<!DOCTYPE html>
<html>
	<head>
		<title>Formulación - Error 404</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	</head>
	<body>
		<div class="menudiv">
			<table class="menu">
				<tr>
					<td><a href="inicio">Inicio</a>&nbsp;|&nbsp;</td>
					<td><a href="formularoxido">Óxido</a>&nbsp;|&nbsp;</td>
					<td><a href="formularhidruro">Hidruro</a>&nbsp;|&nbsp;</td>
					<td><a href="formularhidroxido">Hidróxido</a>&nbsp;|&nbsp;</td>
					<td><a href="formularacido">Ácido</a>&nbsp;|&nbsp;</td>
					<td><a href="formularsalbinaria">Sal binaria</a>&nbsp;|&nbsp;</td>
					<td><a href="formularsaloxial">Sal oxisal</a>&nbsp;|&nbsp;</td>
					<td><a href="formularsalacida">Sal ácida</a>&nbsp;|&nbsp;</td>
					<td><a href="about">Acerca de</a></td>
				</tr>
			</table>
		</div>

		<h1>Error 404</h1>	
		<p>														
			<a href="practicar" style="color:#FF0000;">Esta página no existe</a>
		</p>
	</body>
</html>