<!DOCTYPE html>
<html>
	<head>
		<title>Título</title>
		
	</head>
	<body>
		<div class="menudiv">
			<table class="menu">
				<tr>
					<td><a href="inicio">Inicio</a>&nbsp;|&nbsp;</td>
					<td><a href="formularoxido">Óxido</a>&nbsp;|&nbsp;</td>
					<td><a href="formularhidruro">Hidruro</a>&nbsp;|&nbsp;</td>
					<td><a href="formularhidroxido">Hidróxido</a>&nbsp;|&nbsp;</td>
					<td><a href="formularacido">Ácido</a>&nbsp;|&nbsp;</td>
					<td><a href="formularsalbinaria">Sal binaria</a>&nbsp;|&nbsp;</td>
					<td><a href="formularsaloxial">Sal oxisal</a>&nbsp;|&nbsp;</td>
					<td><a href="formularsalacida">Sal ácida</a>&nbsp;|&nbsp;</td>
					<td><a href="about">Acerca de</a></td>
				</tr>
			</table>
		</div>

	</body>
</html>