<!DOCTYPE html>
<html>
	<head>
		<title>Formular una sal binaria</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

	</head>
	<body>
		<div class="menudiv">
			<table class="menu">
				<tr>
					<td><a href="inicio">Inicio</a>&nbsp;|&nbsp;</td>
					<td><a href="formularoxido">Óxido</a>&nbsp;|&nbsp;</td>
					<td><a href="formularhidruro">Hidruro</a>&nbsp;|&nbsp;</td>
					<td><a href="formularhidroxido">Hidróxido</a>&nbsp;|&nbsp;</td>
					<td><a href="formularacido">Ácido</a>&nbsp;|&nbsp;</td>
					<td><a href="formularsalbinaria">Sal binaria</a>&nbsp;|&nbsp;</td>
					<td><a href="formularsaloxial">Sal oxisal</a>&nbsp;|&nbsp;</td>
					<td><a href="formularsalacida">Sal ácida</a>&nbsp;|&nbsp;</td>
					<td><a href="about">Acerca de</a></td>
				</tr>
			</table>
		</div>

		<h1>Formulación: formular una sal binaria</h1>
		{% block content %}
    <form action="salbinariaformulada" method="post">
        <label for="elemento1"></label>
        <input type="text" id="elemento1" name="elemento1" />
		<label for="elemento2">-uro de </label>
        <input type="text" id="elemento2" name="elemento2" />
        <select name="valencia">
			<option value="">()</option>
			<option value="1">(I)</option>
			<option value="2">(II)</option>
			<option value="3">(III)</option>
			<option value="4">(IV)</option>
		</select>
        <input type="submit" id="send-signup" name="signup" value="Formular" />
    </form>
{% endblock %}
		{% if method == "POST" %}
        <h2>{{ nombre }}: {{ fórmula }}</h2>
		{% else %}
		{% endif %}
	</body>
</html>